<%- include('partials/header'); -%>

        <div id="ErrorPage">
                <div id="ErrorPage-container">
                        <img src="/images/404page.svg" width="280px" height="280px" alt="404 image">
                        <h2 id="errorPageHeading">
                                Oops! This page has already been picked up
                        </h2>
                </div>
        </div>